<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/style.css">
    {{!-- cd 4.7 --}}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{> nav}}
    <div class="header_section text-center" id="home">
        <h1>I am a JavaScript Developer and DataScientist</h1>
        <p>Web development, Data Analysis, ML and Al are all availble</p>
        <img   class="profile" src="public/image/profileimg.jpg" alt="Muhammad Ishaq">
    </div>
    <div class="hero_section" id="about">
        <img src="public/image/hero-devices.svg" width="500px" alt="">
        <div class="bg-primary p-5 text-center text-light">
            <h2>Muhammad Ishaq, Nice to meet you</h2>
            <p>Since beginning I am always be a web developer. And knowing about daily science I purse my career as Data Scientists
                University is only platform where I can get all the staff and environment. I am a dedicated, potential
                and consistence person in learning to any thing which I want to purse.
            </p>
        </div>
    </div>
    <div class="row card_state">
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card border-0 p-5 shadow">
              <div class="card-header bg-white border-0">
                  <i class="fa-solid fa-code"></i>
              </div>
              <div class="card-title text-center">
                <h4>Frontend Developer</h4>
                <p>Life is begin with start, as Web developer first impression is last impression, your portfolio reflects you</p>
              </div>
              <div class="card-body text-center">
                <h5 class="text-primary">Web Development's Projects</h5>
                <p>HTML, CSS,JavaScript, and BOOTSTRAP</p>
                <hr class="mb-4">
                <h6 class="text-primary">Whatsapp Clone:</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Amzon clone</li>
                    <li class="list-group-item">Student Dashboard</li>
                    <li class="list-group-item">Game Tik Toc</li>
                    <li class="list-group-item">Portfolio</li>
                    <li class="list-group-item">University Projects</li>
                </ul>
              </div>
            </div>
            
        </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <i class="fa-solid fa-code"></i>
                        </div>
                <div class="card-title text-center">
                    <h4>Achievements</h4>
                    <p>Life is too short, Achievements is only reason to live a long live</p>
                </div>
                <div class="card-body text-center">
                    <h5 class="text-primary">Areas</h5>
                    <p>Schools, College and university</p>
                    <hr class="mb-4">
                    <h6 class="text-primary">Certification</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Google Microsoft Certification</li>
                        <li class="list-group-item">Science Exhibition</li>
                        <li class="list-group-item">Project Managements</li>
                        <li class="list-group-item">Data Analyst</li>
                        <li class="list-group-item">Programming Speed Competition</li>
                    </ul>
                </div>
                </div>
            
        </div>
                <div class="col-12 col-md-4 col-lg-4">
            <div class="card border-0 p-5 shadow">
              <div class="card-header bg-white border-0">
                  <i class="fa-solid fa-code"></i>
              </div>
              <div class="card-title text-center">
                <h4>Current Life</h4>
                <p>If you want to be what do you want to be, then you have to sacrifice what you are</p> </p>
              </div>
              <div class="card-body text-center">
                <h5 class="text-primary">Family</h5>
                <p>Parents, Siblings and Friends</p>
                <hr class="mb-4">
                <h6 class="text-primary">Univesity</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Current CGPA</li>
                    <li class="list-group-item">Department</li>
                    <li class="list-group-item">Goal</li>
                    <li class="list-group-item">Hostel Life</li>
                    <li class="list-group-item">Coding life</li>
                </ul>
              </div>
            </div>
            
        </div>
    </div>
    <br>
    <br>
    <div class="service text-center" id="service">
            <h2>Our Service</h2>
            <p>We provide a service in following language, you can take our service any time...</p>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/image/clng.jpg" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>C++ language</h5>
                            <p>
                                C++ is considered one of the most important programming languages. 
                                If you are new to programming, we strongly encourage you to start with the C++ language. 
                                The reason is that we offer the world's best course,
                                and having a strong grasp of C++ will make you fully familiar with programming languages.
                            </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/image/web.jpg" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>HTML/CSS</h5>
                            <p>A building block of web development, HTML is used to make the structure of website.
                                It consider the skeleton of the web body. CSS is used for stylist the web development.
                            </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/image/developer.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>JavaScript Developer</h5>
                            <p>Having said to that it is called the brain of the web. Creating a dynamic and responsive website it plays a 
                                vital role and make web a user friendly.
                            </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/image/backend.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Backend Developer</h5>
                            <p>Soul of the web called Backend. Creating, responsing and carrying staff according to the user priority.
                            Your data is our first priority and we have a great security and your ensurity of your data in safe hand. 
                            </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/image/management.jpeg" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Project Managements</h5>
                            <p>Curiosity, Goal, Technical Mindset and Management, resourses move you where you wanna.
                                Discipline is the key to success. Management let you to be discipline. having this course 
                                you will be able to problem solving person and can handle the ups and downs of the any company.
                            </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/image/data_analyst.jpeg" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Data Analyst</h5>
                            <p>Data, Data and only Data. World is revolve around the data. Communications, sharing and relations
                                all the things are happened just because of the data. Having yep grasp over playing with data make 
                                you a better Data Analyst. 
                            </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>I'm proud to have collaborated with some awesome companies:</h3>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/image/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/image/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/image/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="/public/image/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/image/serpmetrics.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/image/redstamp.svg" class="border" alt="">
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="contact_us" id="contact">
            <form method="POST" action="/contactdata">
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">Contact The Help Team</p>
                <div class="mb-3">
                    <label for="username" class="form-label">user name </label>
                    <input name="user" type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">type your message here...</label>
                    <div class="form-floating">
                        <textarea name="msg" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2"></label>
                    </div>
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="footer bg-light" id="about">
            <img src="public/image/logoo.png" alt="logo">

            <h3>Living, learning, & leveling up one day at a time.</h3>

            <div class="social_icons">
                <a href="https://www.facebook.com/TheMuhammadIshaq/" target="_blank"><i class="fa-brands fa-facebook"></i></i></a>
                <a href="https://www.instagram.com/themohdishaq/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="" target="_blank"><i class="fa-solid fa-x"></i></a>
            </div>
            <p>
               Prepared  by @Muhammad Ishaq
            </p>
        </div>

  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>